<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <style>
         @page{
            size:a4 portrait;
            margin:2cm
        }
        *{
            font-family:'Verdana';
            font-size:12px
        }
        table{
            border-collapse:collapse;
            border:1px solid #e8e8e8;
            padding:5px
        }
        </style>
    </head>
    <body>
        <section>
            <table style="width:100%;border:0px">
                <tr>
                    <th style="text-align:left;width:20%">
                        <img src="{{ static.logo }}" width="150">
                    </th>
                    <th style="text-align:right">
                        <br>
                        <div style="font-size:18px">
                            Invoice Number {{ object.number }}
                            <br>
                            Completion Date {{ object.completion_date }}
                            <br>
                            Issue Date {{ object.issue_date }}
                            <br>
                            Payment Date {{ object.payment_date }}
                            <br>
                            Account Number {{ object.profile.account.number }}
                            <br>
                        </div>
                    </th>
                </tr>
            </table>
            <br>
            <br>
            <table style="width:100%">
                <th style="text-align:left">
                    <div style="font-size:15px">Seller:</div>
                    {{ object.profile.company_name }}
                </th>
                <th style="text-align:left">
                    <div style="font-size:15px">Receiver:</div>
                    {{ object.receiver.name }}
                    {{ object.receiver.address }}
                    {{ object.receiver.website }}
                </th>
            </table>
        </section>
        <section id="data-section">
            {% if object.position %}
                <h3>Positions</h3>
                <table style="width:100%">
                    <tr style="background-color:#e8e8e8">
                        <th style="text-align:left;">#</th>
                        <th style="text-align:left;">Title</th>
                        <th style="text-align:left;">Description</th>
                        <th style="text-align:left">Amount</th>
                    </tr>
                    {% for position in object.positions  %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ position.title }}</td>
                            <td>{{ position.description }}</td>
                            <td>{{ position.amount }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <h3>No positions added</h3>
            {% endif %}
            <div style="font-size:15px;margin-top:10px;text-align:right">Total : ${{ object.total_amount }}</div>
        </section>
    </body>
</html>
